<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			<p style="text-align: center;"><strong>MALCOLM GOMES</strong></p>
<p style="text-align: center;">39 Savarin Street, Toronto, ON M1J 1Z7</p>
<p style="text-align: center;">E: malcolmgomes0@gmail.com</p>
<p style="text-align: center;">T: 647-677-1449</p>
<p style="text-align: center;">&nbsp;</p>
<p><strong>CAREER OVERVIEW</strong></p>
<p>Pursuing a career in the field of Computer Science.</p>
<p>Experienced with computers and the concepts of programming and Computer Science.</p>
<p>Well versed in the use of various programming languages, mark up languages and software.</p>
<p>&nbsp;</p>
<p><strong>HIGHLIGHTS OF SKILLS</strong></p>
<ul>
<li>Effective oral and written communication skills.
<ul>
<li>Excellent time management and organizational skills.</li>
<li>Exceptional interpersonal skills used to work efficiently with team members and clients.</li>
<li>Excellent problem solving and analytical skills.</li>
<li>Self-motivated with the ability to multi-task and work under pressure.</li>
<li>Ability to identify tasks requiring urgent attention, prioritize and meet deadlines.</li>
<li>Ability to work well independently or in a team environment.</li>
</ul>
</li>
<li>Enthusiastic and skilled in learning new things and gaining new skills.</li>
</ul>
<p>&nbsp;</p>
<p><strong>TECHNICAL SKILLS</strong></p>
<ul>
<li>Strong understanding of computers and technology.</li>
<li>Experience with multiple commonly used programming languages such as Java and C.</li>
<li>Experience with web languages such as HTML, CSS, Javascript, PHP and other web frameworks such as Bootstrap.</li>
<li>Experience with the Microsoft Office and Adobe Creative suites.</li>
<li>Experience is using different operating systems such as Windows, Linux and Mac OS.</li>
</ul>
<p>&nbsp;</p>
<p><strong>EDUCATION</strong></p>
<p><strong>Bachelor of Science: Computer Science </strong>(3<sup>rd</sup> year)<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></p>
<p>Ryerson University - Toronto, Canada</p>
<p><strong>&nbsp;</strong></p>
<p><strong>High School Diploma&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></p>
<p>St. Patrick Catholic Secondary School - Toronto, Canada</p>
<p><strong>&nbsp;</strong></p>
<p><strong>ACHIEVEMENTS </strong></p>
<ul>
<li>Dean&rsquo;s List 2016 &ndash; 2017</li>
<li>Ontario Scholarship in Grade 12 Sep 2014 &ndash; Jun 2015</li>
<li>Academic Awards in Grades 9, 10 and 11 Sep 2011 &ndash; Jun 2014</li>
</ul>
<p><strong>WORK EXPERIENCE</strong></p>
<p><strong>University Exam and Assignment Marker&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>Nov 2017 &ndash; Dec 2017</p>
<p>Ryerson University - Toronto, Canada</p>
<ul>
<li>Created computer science coding questions for first year computer science exam.</li>
<li>Marked computer science assignments for second year computer science course.</li>
<li>Worked in a collaborative team environment to mark assignments and projects.</li>
</ul>
<p><strong>&nbsp;</strong></p>
<p><strong>Library and Information Management Assistant &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>May 2017 &ndash; Aug 2017</p>
<p>Ministry of Finance - Toronto, Canada</p>
<ul>
<li>Created and updated web pages on intranet site.</li>
<li>Analyzed and annotated documents.</li>
<li>Created spreadsheets and macro scripts for Excel spreadsheets to execute daily tasks.</li>
<li>Worked in a collaborative environment on a team project to optimize and improve the workflow of other colleagues in office.</li>
<li>Performed presentations of projects to colleagues and employees.</li>
</ul>
<p>&nbsp;</p>
<p><strong>Census Enumerator (2016 Census)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>May 2016 &ndash; Jun 2016</p>
<p>Statistics Canada - Toronto, Canada</p>
<ul>
<li>Visited households in an assigned area who had not completed the 2016 census survey and assisted patrons to complete the survey.</li>
<li>Collected the forms and dispatched to Statistic Canada.</li>
<li>Collected household and demographic information of the assigned area and appropriately documented and reported the information to the office electronically.</li>
</ul>
<p>&nbsp;</p>
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:malcolm.gomes@ryerson.ca">Email</a></li>
	        		<li><a href="https://github.com/MalcolmGomes">github.com/MalcolmGomes</a></li>
				</ul>
			</footer>
		</body>
	</html>
